@import "tailwindcss";

@theme {
 
  --color-fondo: #F6E6CB;
  --color-tarjeta: #E7D4B5;
  --color-principal: #CC9B6D;
  --color-texto: #A0937D;
  --color-dorado: #F1CA89;
  --color-rosado: #E3CDC1;
}


body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: var(--font-montserrat), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}